<template>
    <div id="nav container" class="bg-red-50">
        <div class="md:py-10 sm:py-10 md:px-16 sm:px-8">
        <router-link to="" class="text-blue-700 font-bold text-base">Desigin Course</router-link> 
        <router-link to="/" class="text-blue-700 md:ml-8 sm:ml-2 text-sm"> Home</router-link>
        <router-link to="/work" class="text-blue-700 md:ml-8 sm:ml-2 text-sm"> Our Work</router-link>
        <router-link to="/Services" class="text-blue-700 md:ml-8 sm:ml-2 text-sm md:mr-72 xl:mr-72 "> Services</router-link>
        <router-link to="" class="text-white font-bold bg-blue-700 md:px-5 sm:px-5 md:py-2 sm:py-2 rounded-full md:ml-96 sm:ml-32 text-sm"> Get a Quote</router-link>
        </div>
    </div>

    <div class="bg-gray-100">
        <div class="title-descriptionn">
            <div class="md:px-16 sm:px-8">
                <p class="antialiased font-semibold text-sm pt-6">
                clint &nbsp &nbsp &nbsp case &nbsp &nbsp &nbsp study
                </p>
                <p class="antialiased font-bold text-3xl pt-3">
                    X Company
                </p>
            </div>
        </div>
        <div class="background-image md:px-3 md:pt-5 md:pb-24">
            <img src="@/assets/hdie.png" class="w-full">
        </div>
        <div class="md:px-16 sm:px-8 pb-20">
            <p class="text-justify">User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience</p>
        </div>
    </div>
</template>