<template>
  <div id="nav container" class="bg-red-50">
    <div class="md:py-10 sm:py-10 md:px-16 sm:px-8">
      <router-link to="" class="text-blue-700 font-bold text-base">Desigin Course</router-link> 
      <router-link to="/" class="text-blue-700 md:ml-8 sm:ml-2 text-sm"> Home</router-link>
      <router-link to="/work" class="text-blue-700 md:ml-8 sm:ml-2 text-sm"> Our Work</router-link>
      <router-link to="/Services" class="text-blue-700 md:ml-8 sm:ml-2 text-sm md:mr-72 xl:mr-72 "> Services</router-link>
      <router-link to="" class="text-white font-bold bg-blue-700 md:px-5 sm:px-5 md:py-2 sm:py-2 rounded-full md:ml-96 sm:ml-32 text-sm"> Get a Quote</router-link>
    </div>
  </div>

<div class="bg-gray-100">
        <div class="title-descriptionn md:px-16 sm:px-8">
          <div class="grid grid-cols-8 ">
            <div class="col-span-3">
              <p class="antialiased font-semibold text-sm pt-6">
                We &nbsp &nbsp &nbsp Got &nbsp &nbsp &nbsp This
                </p>
                <p class="antialiased font-bold text-3xl pt-3">
                    our Work.<br>
                    Done Right.
                </p>
            </div>
            <div class="col-span-4 h-56">
              <div class="">
                <p class="text-justify p-6 ">User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience.</p>
              </div>
            </div>

          </div>
        </div>
</div>

<div class="grid grid-cols-8  md:px-10 sm:px-8 bg-gray-100 pb-16">
  <div class="col-span-5 flex">
    <img src="@/assets/aa.png" class="w-96 h-52">
    <img src="@/assets/gl.png" class="w-96 h-52 md:pl-8">
  </div>
  <div class="col-span-3 pl-11">
    <img src="@/assets/jdox.png" class="w-80 h-52 ">
  </div>

  <div class="col-span-5 flex mt-8">
    <img src="@/assets/aa.png" class="w-96 h-52">
    <img src="@/assets/gl.png" class="w-96 h-52 md:pl-8">
  </div>
  <div class="col-span-3 mt-8 pl-11">
    <img src="@/assets/jdox.png" class="w-80 h-52 ">
  </div>
</div>


</template>
